.custom-sect-about
{
    background:  linear-gradient(150deg,#cae3ffd2,#cae3ffd7),url('https://img.freepik.com/free-photo/group-international-students-standing-together-park-university-african-caucasian-girls-indian-boy-talking-outdoors_1157-49740.jpg?w=740&t=st=1662026543~exp=1662027143~hmac=53cd9a83b8cd7d9eb954369d53e39ad3e110efd45ec09f0584428550c57665cf');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}