.uk-navbar-container:not(.uk-navbar-transparent) 
{
    background: transparent;
}
.uk-offcanvas-bar 
{
    background: #626060 !important;
}
.chatbots
{
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 99;
}